/* Raleway Font Used throughout Features site */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,400i,700,900');

/* Global Styles */
html, body {
    height: 100%;
    font-family: 'Raleway', sans-serif;
    background:#f1f1f1;
    font-size:16px;
}

a:hover {
    cursor: pointer;
    text-decoration:none;
}
a:active, a:focus {
    text-decoration: none;
}
.main-container {
    background: #f4f4f4;
}


/* Top toggleable filter section, heading for that section, etc. */

.filter-features {
    background: url('../img/tradeshow-backdrop.jpg') no-repeat;
    min-height:500px;
    padding-top:80px;
    padding-bottom:0;
    margin-bottom:0;
    position:relative;
    }
  
h2.feature-heading {
        color: #fff;
        text-transform: uppercase;
        margin: 10px auto;
        padding:0px;
        font-size:4em;
        font-weight:bold;
    }

p.feature-heading {
    color:#fff;
    padding:15px 0;
    margin: 0px 0 30px 0;
    display:inline-block;
    font-size:2em;
    font-weight:300;
}

.filter-toggle-bar {
    display:block;
    background:#bfbdbd;
    color:#fff;
    width:100%;
    height:47px;
    margin:0px;
    text-align:left;
    line-height:45px;
    vertical-align:middle;
    transition:all 0.3s ease-in-out;
}

    .filter-toggle-bar:before {
        
        background: #384866;
        color: #fff;
        border:1px solid #384866;
        content: "\f0b0";
        font-family:FontAwesome;
        float:left;
        margin-left:-60px;
        width:60px;
        text-align:center;
        height:47px;
    }

    .border-left {
        border: 1px solid #1b282d;
        border-right: 0px;
        text-align:center;
        padding:0;
    }
    .border-left:first-child {
            border-left: none
        }
        .border-left:last-child {
            border-right: 1px solid #1b282d;
        }
.highlight-toggle {
    background: transparent;
    padding-left:0;
    padding-right:0;
    
}

#filter-toggle {
    background:#fff;
    color:#333;
    border:1px solid #333;
    border-left:none;
    font-weight:bold;
    text-align:center;
    display:block;
    padding:0;
    margin:0;
    height:47px;
}
    #filter-toggle:after {
        font-family: FontAwesome;
        width: 30px;
        height: 30px;
        padding-left: 10px;
        display: inline-block;
    }
    /* Two classes toggled to show/hide panel */
    #filter-toggle.shown:after{
        content: "\f00d";
    }

    #filter-toggle.collapsed:after {
        content: "\f078";
    }


.filter-text {
    background: #69b445;
    color: #fff;
    text-transform: uppercase;
    float:left;
    text-align:left;
    height:45px;
    line-height:25px;
    padding:10px 13px;
}

.filter-toggle-item{
    color:#666;
    display:block;
    padding:0;
    margin:0;
    background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}

    .filter-toggle-item.active {
        color:#333;
        font-weight:bold;
    }

    .filter-toggle-item .fa {
        padding-left: 10px;
    }

    .filter-container {
        margin-bottom:0;
        border-radius:0px;
        background:#ddd;
    }

        .filter-container .btn-filter {
            background: #999;
            color: #fff;
            width:23%;
            display:inline-block;
            margin:0 15px 15px 0;
        }

.btn-filter.active {
    background: #888;
    padding:5px 0;
}

/* Color-coded buttons and labels for each specific filter category */
.btn-filter.widgets-filter {
    background: #7f41e5;
}.widgets-filter.active {background: #512a90;}

.btn-filter.onsite-filter {
    background: #10aa64;
}.onsite-filter.active {background: #108650;}

.btn-filter.badges-filter {
    background: #1b79a7;
}.badges-filter.active {background: #20688b;}

.btn-filter.system-filter {
    background: #ec5a7c
}.system-filter.active {background: #c84c69;}
.btn-filter.marketing-filter {
    background: #e15913;
}.marketing-filter.active {background: #b9490f;}
.btn-filter.reporting-filter {
    background: #c33535
}.reporting-filter.active {background: #9e2929;}


.feature-type {
    font-weight: bold;
}

.Website.Widgets {
    color: #7535de
}
.Onsite.Services {
    color: #10aa64;
}
.Badges.Tickets {
    color: #1b79a7;
}
.System.Integrations {
    color: #a70b52
}
.Marketing {
    color: #e15913 !important;
}

.Reporting {
    color:#b23636;
}

    #filterCollapse{
        border: 1px solid #384866;
        border-top:none;
        padding:15px;
        background: #fff;
        height:165px;
    }
        #filterCollapse h5 {
            padding-bottom: 10px;
            border-bottom: 1px solid #ccc;
            margin-bottom: 20px;
            font-weight:bold;
        }
/* Filter form element styles */

        .filter-container .input-group-addon {
            background-color: transparent;
            color: #333;
            border:none;
            font-weight:bold;
            font-size:2em;
            border-radius:0px;
        }

  

        

/* CUSTOM NEXT/PREVIOUS MODAL */

.modal-dialog {
    width: 98%;
  height: 98%;
  margin: 0;
  padding: 0;
  top:1%;
  left:1%;
  right:1%;
  bottom:1%;
  z-index:99999;
}

.modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}

.modal-header h3 {
    font-size: 3em;
    font-weight: bold;
}

.modal-header .close {
    margin-top: 5px;
    margin-right:10px;
}

.modal-body {
    padding: 15px;
    font-size:1.3em;
}

.modal-backdrop {
    z-index: 9;
    opacity:0.5;
}
    /* Next/Previous buttons to toggle between modals */
    .previous {
        display: block;
        height:60px;
        background: transparent;
        border:2px solid #999;
        color: #999;
        vertical-align: middle;
        text-align: center;
        line-height:55px;
        font-size:1.2em;
        text-transform:uppercase;
        font-weight:bold;
        border-radius:50px;
    }

    .next {
        display: block;
        height:60px;
        background: transparent;
        border:2px solid #999;
        color: #999;
        vertical-align: middle;
        text-align: center;
        line-height:60px;
        font-size:1.2em;
        text-transform:uppercase;
        font-weight:bold;
        border-radius:50px;
    }

    /* Pick a show type modal */
.pick-one {
    width:100%;
    height:auto;
    border-radius:50%;
    font-size:20px;
    color:#1b79a7;
    text-align:center;
    background:#fff;
    border:10px solid #a6a6a6;
    display:block;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .12), 0 2px 5px 0 rgba(0, 0, 0, .24);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .12), 0 2px 5px 0 rgba(0, 0, 0, .24);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .12), 0 2px 5px 0 rgba(0, 0, 0, .24);
    border:none;
    opacity:0.7;
    margin-top:30px;
    border:5px solid #ccc;
    transition:all 0.3s ease-in-out;
}

    .pick-one img {
        position: relative;
    }
    .pick-one h1 {
        position: absolute;
        width:80%;
        left:10%;
        bottom:0px;
        background:#a6a6a6;
        color:#fff;
        font-size:0.9em;
        font-weight:bold;
        padding:15px;
        border-radius:50px;
    }

    .pick-one.active, pick-one:active, pick-one:focus {
        border-color: #384866;
        background:#cfe9fb;
        box-shadow: inset 5px 5px 8px rgba(0,0,0,.325);
    }
        .pick-one.active, pick-one:active, pick-one:focus, .pick-one:hover {
            opacity: 1.0;
        }
        .pick-one.active h1 {
            background: #384866;
            color:#fff;
        }

/* Filter Button Group Styles*/

.dropdown {
    cursor:pointer;
}

.navbar-default {
    background-color: #ffffff;
    border-bottom: 1px solid #ccc;
    border-color: transparent transparent #ccc;
    box-shadow: 2px 1px 2px #555;
    margin-bottom:0px;
    height:60px;
}

.navbar-default .navbar-brand{
    background:url('../img/SPARGO_HEADER.PNG') no-repeat;
        height: 50px;
        width: 172px;
        margin-top:5px;
    }
.navbar-brand {
    margin-top: 0px;
    padding-top: 5px;
}
.navbar-nav > li > a {
    padding-top: 20px;
}
.navbar-toggle {
    float:left;
    margin-left:5px;
    margin-right:0px;
}
.navbar-default .navbar-toggle {
    border:none;
}
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
        background: none;
    }
.navbar-brand, .navbar-nav > li > a {
    color: #fff;
}
.navbar-brand, .navbar-nav > li > a:hover {
    color: #1a4fbc;
}

.navbar-transparent .navbar-collapse {
    margin-top: 10px;
}

.navbar-transparent .navbar-toggle {
    margin-top: 15px;
}

.img-home-portfolio,
.img-customer,
.portfolio-item {
    margin-bottom: 30px;
}

.tab-pane {
    margin-top: 15px;
}

/* Page Sections */
.section,
.section-colored {
    padding: 50px 0;
}

.section-colored {
    background-color: #e1e1e1;
    /* change this to change the background color of a colored section */
}

.sidebar {
    margin-top: 40px;
}

.sidebar ul {
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #cccccc;
}

/* Features List/Table */
.padded-row {
    padding-bottom: 30px;
    padding-top:30px;
}
.card-wrap {
    display:block;
    transform: scale(1) translate3d(0px, 0px, 0px);
    transition: all 0.5s;
    margin-bottom:30px;
    height: auto;
    overflow:hidden;
    width:100%;
    position:relative;
}


.card-wrap {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .12), 0 2px 5px 0 rgba(0, 0, 0, .24);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .12), 0 2px 5px 0 rgba(0, 0, 0, .24);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .12), 0 2px 5px 0 rgba(0, 0, 0, .24);
}


.img-wrap {
    background: #fff;
}

    .img-wrap img {
        width: 80%;
        height: auto;
        margin: 0 auto;
    }
    .card-wrap h1 {
        font-size: 1em;
        font-weight: bold;
        color: #384866;
    }

.card-wrap:hover, .card-wrap:active, card-wrap:focus{
    -webkit-box-shadow: 0 -1px 1px rgba(0, 0, 0, .16),
  0 -1px 1px rgba(0, 0, 0, .23); 
    -moz-box-shadow: 0 -1px 1px rgba(0, 0, 0, .16),
  0 -1px 1px rgba(0, 0, 0, .23); 
    box-shadow: 0 -1px 1px rgba(0, 0, 0, .16),
  0 -1px 1px rgba(0, 0, 0, .23);
  }


/* Unique icons to display Feature Category type */

    .filter-icon{
        width:17px;
        height:19px;
        margin-left:15px;
        display:inline-block;
        margin-bottom:-3px;
    }

    .Combined {
        background:url('../img/ui/show-all.png') no-repeat;
    }

    .Registration {
        background-image: url(../img/ui/reg-icon.svg);
background-size: 25px 20px;
height: 15px;
margin: 0;
width: 25px;
    }
    .Housing {
        background:url('../img/ui/hou-icon.png') no-repeat;
    }


.card-label {
    width:100%;
    height:135px;
    margin:0 auto;
    font-size:1em;
    background:#fff;
    color:#333;
    border-top:1px solid #f1f1f1;
}

    .card-label p {
        margin:0 15px 10px;
        padding:0;
        font-size:0.8em;
        color:#666;
    }
        .card-label p p {
            margin: 0;
            font-size: 1.0em;
        }
p.trim-length {
    max-width: 260px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    font-weight:bold;
    font-size:1em;
    margin-top:10px;
    margin-bottom:5px;
    color:#333;
}

.trim-length-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px; /* fallback */
    max-height: 48px; /* fallback */
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
}
.card-label .btn {
        border-radius: 0px;
        background-color:#5abeea;
        height:35px;
        line-height:25px;
        margin:5px 15px;
    }
        .card-label .btn:hover {
            background: #5788b1;
            color: #fff;
        }

.card-wrap:hover {
    text-decoration: none;
}
   .ng-enter {
    -webkit-transition: 1s;
    transition: 0.5s;
    margin-top: 10%;
    margin-right:10%;
}

.ng-enter-active {
  margin-top: 0;
  margin-right:0;
}

.ng-leave {
  -webkit-transition: 1s;
  transition: 1s;
  margin-top: 0;
  margin-right:0;
}

.ng-leave-active {
  margin-top: 50%;
  margin-right:50%;
}

.ng-move {
  -webkit-transition: 1s;
  transition: 1s;
  background: #49ffc2;
}

.ng-move-active {
  background: #fff;
}
/* Half Page Height Carousel Customization */
.carousel {
    height: 50%;
}

.item,
.carousel-inner {
    height: 100%;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

/* Social Icons Styles */
.list-social-icons {
    margin-bottom: 45px;
}

.tooltip-social a {
    text-decoration: none;
    color: inherit;
}

.facebook-link a:hover {
    color: #3b5998;
}

.linkedin-link a:hover {
    color: #007fb1;
}

.twitter-link a:hover {
    color: #39a9e0;
}

.google-plus-link a:hover {
    color: #d14836;
}

/* Service Page Styles */
.service-icon {
    font-size: 50px;
}

/* 404 Page Styles */
.error-404 {
    font-size: 8em;
}


/* Footer Styles */
.footer-city{
    margin: 50px 0 0;
    display:block;
    padding:0;
    max-height:280px;
    width:100%;
}

footer {
    background: #0e131c;
    color: #fff;
    padding: 30px 0;
    margin: 0;
}

    footer h3 {
        text-transform: uppercase;
        color: #1b79a7;
    }

    footer a {
        color: #ccc;
    }

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-toggle .icon-bar:nth-of-type(2) {
	  top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
  	top: 2px;
}

.navbar-toggle .icon-bar {
	  position: relative;
	  transition: all 500ms ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
	  top: 6px;
	  transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
	  background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
	  top: -6px;
	  transform: rotate(-45deg);
}

.close-filter {
        position: relative;
        float:right;
        display:block;
        text-align:right;
        height:30px;
        padding:10px 5px;
    }

@media (min-width: 1300px) {
     #filter-toggle:active, #filter-toggle:focus {
            background: #566c94;
            color:#fff;
        }
    .container {
        width: 1300px;
        padding:30px;
    }
    .navbar-default .container {
        padding: 0 30px;
    }
    .filter-container {
        background: #ddd;
        position:absolute;
        bottom:0;
        width:100%;
        left:0;
        right:0;
        padding:15px 0;

    }
    #closeNav {
        display: none;
    }
}
@media (max-width: 1300px) {
section.filter-features .jumbotron {
        position:relative;
        width:100%;
    }

    .next:hover, .previous:hover {
        text-decoration: none;
        color: #fff;
        border-color: #039be5;
        background: #039be5;
    }
}
/* Responsive Styles */
@media (min-width: 1025px) and (max-width: 1300px) {
    .filter-features {
        min-height: initial;
    }
    
    #closeNav {
        display: none;
    }
}

/* Responsive Styles */
@media (max-width: 1024px) {

    .pick-one {
        border-width: 5px;
        border-radius:0;
    }

        .pick-one img {
            padding-top: 5px;
        }
        .pick-one h1 {
            font-size: 0.5em;
            padding: 5px;
            min-height:30px;
            border-radius:0;
            position:relative;
            margin-top:0;
            margin-bottom:0;
            width:100%;
            left:0;
            right:0;
        }
    section.filter-features {
        padding-top: 0px;
        padding-bottom:60px;
        min-height:100px;
    }

    h2.feature-heading {
        font-size: 2.5em;
    }

    

    .filter-container .btn-filter {
        display: block;
        width:100%;
        margin:10px auto;
    }
    /* Top Navbar floats above fixed filters */
    .navbar-default {
        position: fixed;
        top: 0;
        height: 50px;
        width:100%;
        box-shadow:none;
        background:#2a354b;
        z-index:999;
        border-bottom:0px;
        box-shadow:1px 1px 1px #333;
    }

    .navbar-default .navbar-brand  {
        height: 30px;
        width: 30px;
        background: url(../img/ui/spargo-logo-mobile.png) no-repeat;
        margin-top:7.5px;
        background-size:90%;
    }

        .navbar-collapse.in .navbar-nav {
            width:60%;
            display:block;
            height:700px;
            position:absolute;
            z-index:99999999999;
             margin:0;
            padding:15px;
            background:#333;
            color:#fff;
            left:0;
            top:0px; 
            bottom:0;
            width:60%;
            -moz-animation: showHide 0.3s ease-in-out; /* Firefox */
            -webkit-animation: showHide 0.3s ease-in-out; /* Safari and Chrome */
            -ms-animation: showHide 0.3s ease-in-out; /* IE10 */
            -o-animation: showHide 0.3s ease-in-out; /* Opera */
            animation: showHide 0.3s ease-in-out;
        }

    .navbar-default .navbar-nav > li > a {
        color: #fff;
    }
        .navbar-default .navbar-nav > li > a:hover {
            color: #ccc;
            background: #111;
        }
    .navbar-collapse.out {
        width: 0;
        height: 0;
    }

        /* Close Nav button */

    #closeNav {
        background: #666;
        color: #fff;
        cursor:pointer;border: 1px solid #1b282d;
border-right: 0px;
    }


    /* Mobile Filter Bar, Fixed to bottom of screen, collapses and labels hidden, only icons shown */
    .filter-toggle-bar {
        padding-left: 0px;
        position:fixed;
        bottom:0px;
        left:0;
        width:100%;
        border:1px solid #ccc;
        background:#fff;
        z-index:999;
        height:50px;
        background: #ffffff; /* Old browsers */

    }
    .filter-toggle-bar:before {
        width:0px;
    }
    .filter-toggle-item .fa {
        padding-left: 0;
    }
    .highlight-toggle {
        margin:0;
        padding:0;
        background:#ccc;
        height:0;
        width:0;
    }

    #filter-toggle {
        border:1px solid #fff;
        color:#fff;
        background:transparent;
        padding:5px;
        margin:0 auto;
        text-align:center;
        font-size:0.9em;
        position:fixed;
        top:5px;
        right:5px;
        border-radius:5px;
        height:40px;
        line-height:30px;
        width:180px;
    }
       

        #filter-toggle::after {
            width: 20px;
            padding-left: 5px;
        }
    .mobile-container .col-xs-4 {
        padding: 0;
        margin: 0 auto;
        width: 33.333333%;
    }
    .filter-toggle-item {
        padding: 10px 5px 5px 5px;
    }
    .filter-toggle-item.active {
        box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    }
    .filter-type1 span{
        font-size:0.7em;
        line-height:5px;
        display:block;
    }

    .filter-icon {
        margin: 0 auto;
        margin-top:-5px;
    }

    /* Collapsible container housing specific filter buttons*/
    #filterCollapse {
        height:100%;
        padding:15px;
        width:100%;
        position:fixed;
        top:0px;
        left:0;
        right:0;
        z-index:9999;
    }

        #filterCollapse.collapse {
            display:block;
        }
        #filterCollapse.hidden {
            display:none;
        }
    .close-filter {
        position: fixed;
        bottom: 15px;
        right: 15px;
        display:block;
        text-align:right;
        height:30px;
        padding:10px 5px;
    }
    h2.feature-heading {
        margin-top: 80px;
    }

    section.filter-features {
        padding-bottom: 0;
    }

    .jumbotron {
        position:relative;
        width:100%;
        margin-top:0px;
        padding-bottom:0px;
        
    }

    .carousel {
        height: 70%;
        /* increases the carousel height so it looks good on phones */
    }

    #showTypeModal h3 {
        font-size: 0.8em;
        font-weight:400;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .filter-toggle-bar {
        font-size: 0.8em;
        margin: 30px auto;
        background: #ffffff; /* Old browsers */
        background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
    }

    .filter-features {
        margin: 0;
        min-height: initial;
    }
}
/* -- Material Design Button style ------------------------------------ */
.btn {
  text-transform: uppercase;
  letter-spacing: inherit;
  color: rgba(255, 255, 255, 0.87);
}

.btn-default, .btn-link {
  color: rgba(0, 0, 0, 0.87);
}

.btn-primary {
    background: #384866;
    font-weight:bold;
}
/* -- Buttons style ------------------------------------ */
.btn {
  outline: 0;
  outline-offset: 0;
  border: 0;
  border-radius: 2px;

  transition: all .15s ease-in-out; 
  -o-transition: all .15s ease-in-out; 
  -moz-transition: all .15s ease-in-out; 
  -webkit-transition: all .15s ease-in-out;  
  
  &:focus, &:active, &.active, &:active:focus, &.active:focus {
    outline: 0;
    outline-offset: 0;  
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  }
}


/* -- Buttons types -------------------------------- */
.btn-raised {
  // shadow depth 1
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12),
  0 1px 2px 0 rgba(0, 0, 0, .24);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12),
  0 1px 2px 0 rgba(0, 0, 0, .24); 
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12),
  0 1px 2px 0 rgba(0, 0, 0, .24); 
   
  &:active, &.active, &:active:focus, &.active:focus {
    // shadow depth 2
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .16),
  0 3px 6px rgba(0, 0, 0, .23); 
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, .16),
  0 3px 6px rgba(0, 0, 0, .23); 
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16),
  0 3px 6px rgba(0, 0, 0, .23);
  }
  
  &:focus {
    // shadow depth 2
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .16),
  0 3px 6px rgba(0, 0, 0, .23); 
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, .16),
  0 3px 6px rgba(0, 0, 0, .23); 
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16),
  0 3px 6px rgba(0, 0, 0, .23);
  }
  
}

.btn-flat { 
  
}

.btn.btn-circle {
  padding: 0;
  border-radius: 50%;
}

.btn-group > .btn:first-child {
    margin-right:0px;
}

.btn-group > .btn:last-child {
    margin-left:-1px;
}

/* Animation Specifications - fade from left-to-right and vice-versa*/

@-webkit-keyframes showHide { /* Chrome, Safari */
    0% {width:0%}
    40% {width:20%}
    60% {width:40%;}
    100% {width:60%;}
}
@-moz-keyframes showHide { /* FF */
    0% {width:0%}
    40% {width:20%}
    60% {width:40%;}
    100% {width:60%;}
}
@-ms-keyframes showHide { /* IE10 */
    0% {width:0%}
    40% {width:20%}
    60% {width:40%;}
    100% {width:60%;}
}
@-o-keyframes showHide { /* Opera */
    0% {width:0%}
    40% {width:20%}
    60% {width:40%;}
    100% {width:60%;}
}
@keyframes showHide {
    0% {width:0%}
    40% {width:20%}
    60% {width:40%;}
    100% {width:60%;}
}