<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>

    <!-- Meta-Information -->
    <title>SPARGO, Inc. Features - Browse our Library of Tools and increase revenues!</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="SPARGO, Inc.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap Mobile Responsive and FontAwesome Icons -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Our Website CSS Styles -->
    <link rel="stylesheet" href="css/main.css">
</head>
<body ng-app="sortApp" ng-controller="mainController">
    <!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

    <!-- Our Website Content Goes Here -->
    <div ng-include='"templates/header.html"'></div>
    <div ng-view class="main-container">


        <section class="filter-features">
            <div class="container">

                <h2 class="feature-heading">SPARGO TECHNOLOGY</h2>
                <p class="feature-heading">Technology and talent that take your show to the next level</p>
            </div>
                <div class="filter-container">
                    <div class="container">
                    <div class="filter-toggle-bar">
                        <div class="row-fluid">
                        
                            <div class="col-sm-3 highlight-toggle">
                                <a role="button" href="#filterCollapse" id="filter-toggle" class="filter-toggle-item collapsed"><strong>Filter By Type</strong></a>
                            </div>
                           <div class="mobile-container">
                            <div class="col-sm-3 col-xs-4 border-left">
                                <a class="filter-toggle-item filter-type1 filter-reg" ng-click="myFilter = filterReg"><span>Registration</span> 
                                    <i class="fa fa-id-card-o"></i>
                                </a>
                            </div>
                            <div class="col-sm-3 col-xs-4 border-left">
                                <a class="filter-toggle-item filter-type1 filter-hou" ng-click="myFilter = filterHou"><span>Housing</span> <i class="fa fa-hotel"></i></a>
                            </div>
                             <div class="col-sm-3 col-xs-4 border-left">
                                <a class="filter-toggle-item filter-type1 filter-all active"  id="clear-filter" ng-click="clearFilter()"><span>Show All</span> <i class="fa fa-th"></i></a>
                            </div>
                            </div>
                        </div>
                    </div> 
                    <div class="hidden" id="filterCollapse">
                                <h5>Filter by specific feature types below:</h5>
                                <a ng-click="myFilter2 = null" class="btn btn-filter filter-type2 all-filter active" data-toggle="collapse"  href="#filterCollapse">No Filter</a>

                                <a ng-click="myFilter2 = {ID: 1}" class="btn btn-filter filter-type2 widgets-filter" data-toggle="collapse"  href="#filterCollapse">Website Widgets</a>
                           
                                <a ng-click="myFilter2 = {ID: 2}" class="btn btn-filter filter-type2 onsite-filter" data-toggle="collapse"  href="#filterCollapse">Onsite Services</a>

                                <a ng-click="myFilter2 = {ID: 3}" class="btn btn-filter filter-type2 badges-filter" data-toggle="collapse"  href="#filterCollapse">Badges & Tickets</a>

                                <a ng-click="myFilter2 = {ID: 4}" class="btn btn-filter filter-type2 system-filter" data-toggle="collapse"  href="#filterCollapse">System Integrations</a>

                                <a ng-click="myFilter2 = {ID: 5}" class="btn btn-filter filter-type2 marketing-filter" data-toggle="collapse"  href="#filterCollapse">Marketing</a>

                                <a ng-click="myFilter2 = {ID: 6}" class="btn btn-filter filter-type2 reporting-filter" data-toggle="collapse"  href="#filterCollapse">Reporting</a>

                                <a class="filter-type2 close-filter">Close <i class="fa fa-times"></i></a>
                        </div>

                            
                    </div>
                </div>
        </section>
        

        <div class="container card-container">
            
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" ng-animate="'animate'" ng-repeat="feature in (fileredFeatures = ( allfeatures | orderBy:indexNum | filter:myFilter| filter:myFilter2))">
                    
                    <a class="card-wrap" ng-click="open(feature, $index)">
                        

                        <div class="img-wrap"><img src='{{ feature.image }}' class="img-responsive" /></div>
                        
                        <div class="card-label">

                                    <p class="trim-length">{{ feature.name }}</p>

                                            
                                            <p><strong>Type <i class="fa fa-angle-double-right"></i></strong> <span class="feature-type {{ feature.type }}">{{ feature.type }}</span></p>
                                       

                                            <p ng-bind-html="feature.description" class="trim-length-description"></p>
                                        
                                    
                                
                            </div>
                            
                       
                    </a>
                     </div>
                </div>
                     <!--MODAL WINDOW--> 
                <script type="text/ng-template" id="myModalContent.html">
                    <div class="modal-header">
                        <button type="button" class="close" ng-click="cancel()" data-dismiss="modal"><i class="fa fa-times fa-3x"></i></button>
                        <h3 class="text-center">{{ feature.name }}</h3>
                    
                    </div>
                    
                    
                    <div class="modal-body">

                        <div class="container">
                            <div class="row">
                            
                                    
                           
                                <div class="col-sm-12">
                                    <img src='{{ feature.image }}' class="img-responsive" style="margin:0 auto;" />
                                    <p ng-bind-html="feature.description" class="modal-body"></p>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p><strong>Category:</strong></p> 
                                            <p> <a ng-click="myFilter = filterHou" href="#"> {{ feature.type }}</a></p>
                                        </div>
                                        <div class="col-sm-6">
                                            <p><strong>Used In:</strong></p>
                                            <p>{{ feature.category }}</a></p>
                                        </div>
                                </div>
                            </div>
                        </div>        
                           
                        
                    </div>
                    <div class="modal-footer">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-3 col-xs-6 text-left">
                                    <a class="previous" ng-click="showPrev(t, $index)"><i class="fa fa-arrow-left"></i> Prev</a>
                                </div>
                                <div class="col-sm-3 col-sm-offset-6 col-xs-6 text-right">
                                    <a class="next" ng-click="showNext(t, $index)">Next <i class="fa fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </script>

            </div>



    
    <div ng-include='"templates/footer.html"'></div>


    <!-- Newsletter Modal -->
    <div class="modal fade" id="showTypeModal" tabindex="-1" role="dialog" aria-labelledby="showTypeModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            
          <div class="modal-body text-center">
              <div class="container">
            <h3><strong>Tell us what your show needs and we'll show you the products and features to accomadate you!</strong></h3>
                <hr />
              <div class="row">
                  <div class="col-sm-12"><p class="text-center"><img src="img/ui/pick-one.png"  class="img-responsive" style="margin:0 auto;" alt="pick one..."/></p></div>
              </div>
              <div class="row">
                  <div class=" col-xs-4">
                    <a href="#" class="pick-one select-reg" ng-click="myFilter = filterReg">
                        <img src="img/ui/RegIcon.png" class="img-responsive"/>
                        <h1>Registration Management</h1>
                    </a>
                  </div>
                  <div class=" col-xs-4">
                    <a href="#" class="pick-one select-hou" ng-click="myFilter = filterHou">
                        <img src="img/ui/HouIcon.png" class="img-responsive"/>
                        <h1>Housing Management</h1>
                    </a>
                  </div>
                  <div class="col-xs-4">
                      <a class="pick-one select-all active" ng-click="myFilter = { category: ''}">
                        <img src="img/ui/RegandHouIcon.png" class="img-responsive"/>
                        <h1>Show me it all!</h1>
                      </a>
                      
                  </div>
              </div>
              <br />
              
              </div>
          </div>
          <div class="modal-footer text-left">
                <div class="row">
                  <div class="col-sm-8 col-sm-offset-2 text-center">
                      <button class="btn btn-primary btn-block btn-lg" data-dismiss="modal">Take me to the features</button><br />
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
    
    <!-- Angular Includes -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.26/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.2.27/angular-sanitize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-animate.min.js"></script>

    <!-- Our Website Javascripts -->
    <script src="js/main.js"></script>

</body>
</html>
