
    <div class="footer-city">
        <img src="img/ui/footer_BG.png" class="img-responsive" />
    </div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>Footer Heading</h3>
                <p><a href="#">Link Goes Here</a></p>
                <p><a href="#">Link Goes Here</a></p>
                <p><a href="#">Link Goes Here</a></p>
            </div>
            <div class="col-sm-4">
                <h3>Footer Heading</h3>
                <p><a href="#">Link Goes Here</a></p>
                <p><a href="#">Link Goes Here</a></p>
                <p><a href="#">Link Goes Here</a></p>
            </div>
            <div class="col-sm-4">
                <h3>Footer Heading</h3>
                <p><a href="#">Link Goes Here</a></p>
                <p><a href="#">Link Goes Here</a></p>
                <p><a href="#">Link Goes Here</a></p>
            </div>
        </div>
    </div>
</footer>
