
    <div class="footer-city">
        <img src="img/ui/footer_BG.png" class="img-responsive" />
    </div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>Contact Information</h3>

            11208 Waples Mill Road, Suite 112<br />
            Fairfax, VA 22030<br />
            800-564-4220<br />
            703-818-9177 (fax)<br />
            <a href="mailto:sales@spargoinc.com">sales@spargoinc.com</a><br />

            </div>
            <div class="col-sm-4">
                <h3>Join Us on Social Media</h3>
                <ul class="list-inline social-icons">
                    <li><a href="https://twitter.com/spargo_inc" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
                    <li><a href="https://www.facebook.com/SpargoInc" target="_blank"><i class="fa fa-facebook fa-2x"></i></a></li>
                    <li><a href="https://www.linkedin.com/company-beta/83017/?pathWildcard=83017" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a></li>
                    <li><a href="https://plus.google.com/102988869177227110195" target="_blank"><i class="fa fa-google-plus fa-2x"></i></a></li>
                    <li><a href="https://www.youtube.com/channel/UCI_s1Bs7PHeIPX9fjOrAq0A" target="_blank"><i class="fa fa-youtube-play fa-2x"></i></a></li>
                </ul>
                
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-6">
                        <a href="http://www.export.gov/safeharbor/" target="_blank" class="font-medium">We self-certify compliance with<br />
                        <img src="http://spargoinc.com/img/SafeHarbor.jpg" /></a>
                    </div>

                    <div class="col-sm-6">
                        <br />
                        <script type="text/javascript" src="https://sealserver.trustwave.com/seal.js?code=x4ix8fWiehnnLcVfEWTROFWOQ66qDb"></script><img id="trustwaveSealImage" src="https://sealserver.trustwave.com/seal_image.php?customerId=x4ix8fWiehnnLcVfEWTROFWOQ66qDb&amp;size=105x54&amp;style=" style="cursor:pointer;" onclick="javascript:window.open('https://sealserver.trustwave.com/cert.php?customerId=x4ix8fWiehnnLcVfEWTROFWOQ66qDb&amp;size=105x54&amp;style=', 'c_TW', 'location=no, toolbar=no, resizable=yes, scrollbars=yes, directories=no, status=no, width=615, height=720'); return false;" oncontextmenu="javascript:alert('Copying Prohibited by Law - Trusted Commerce is a Service Mark of TrustWave Holdings, Inc.'); return false;" alt="This site is protected by Trustwave's Trusted Commerce program" title="This site is protected by Trustwave's Trusted Commerce program" border="0"> 
                    </div>
                </div>

                
            </div>
        </div>
    </div>
    <section>
        <ul class="list-inline text-center">
                    <li><a href="http://spargoinc.com">Home</a></li>
                        <li>|</li>
                    <li><a href="http://spargoinc.com/other/sitemap.aspx">Site Map</a></li>
                        <li>|</li>
                    <li><a href="http://spargoinc.com/other/privacy.aspx">Privacy Statement</a></li>
                        <li>|</li>
                    <li><a href="http://spargoinc.com/other/contactus.aspx">Contact Us</a></li>
                </ul>
    </section>
</footer>
